@import 'article.css';
@import 'nav.css';
@import '404.css';

body {
  min-width: 450px;
  min-height: 980px;
  margin: 0 auto;
  font-family: sans-serif;
  height: auto;
}
.container {
  margin-top: 50px;
  display: block;
}
.row-toggle{
  display: none;
}

.wrapper {
  margin-top: 70px;
  display: flex;
  justify-content: center;
}

